@import url(https://makia.dgcytb.com/css/loading.css);

/** 背景图 **/
body {
    background-image: url("https://makia.dgcytb.com/image/qixi_background4.jpg");
    background-repeat: repeat;
    background-position-x: 40%;
    background-position-y: top;
    background-attachment: fixed;
    min-height: 80vh;
}

/** nav **/
.cytb-nav {
    min-height: 10px;
    position: sticky;
    top: 0;
    border: none;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    color: #FFFFFF;
    z-index: 1000;
}

.cytb-nav-logo {
    height: 16px;
    margin: 8px;
}

.cytb-nav-title {
    display: inline-block;
    font-size: 14px;
    position: relative;
    padding-top: 3px;
}

.cytb-nav-title .cytb-label {
    display: inline-block;
    position: absolute;
    top: 6px;
    margin-left: 4px;
    padding: 2px 2px 2px 2px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 8px;
    background-color: #FFFFFF;
    color: rgba(0, 0, 0, 0.9);
}

/** content **/
.cytb-content {
    width: 100%;
    min-height: 90vh;
    padding-top: 10px;
    padding-bottom: 50px;
    background-color: rgba(224, 217, 224, 0.15);
}

/** footer **/
/*.cytb-footer::before{*/
/*    display: block;*/
/*    width: 100%;*/
/*    height: 50px;*/
/*}*/
.cytb-footer{
    width: 100%;
    height: 50px;
    padding: 10px;
    text-align: center;
    font-size: 10px;
}

.cytb-footer .cytb-label{
    display: inline-block;
}

.cytb-bg-blue {
    background-color: #003be9;
    color: #EEEEEE;
}

.cytb-bg-black {
    background-color: #353535;
    color: #EEEEEE;
}

.cytb-bg-pink {
    background-color: #e720ee;
    color: #FFFFFF;
}
